:root {
    --accent-color: #53e4c0;
    --accent-color-secondary: #bff8ea;
    --accent-color-link: rgb(129, 188, 255);
    --text-color: rgb(176, 176, 187);
    --background-color: rgb(41, 42, 45);
    --intro-color: rgb(24, 27, 32);
    --footer-color: rgb(23, 24, 26);
    background-color: var(--background-color);
    color: var(--text-color);
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Arial', sans-serif;
}

p,
li,
a,
b,
i {
    font-family: 'Fira Sans', 'Arial', sans-serif;
}

p,
li {
    line-height: 2.0;
    font-weight: 300;
}

a {
    color: var(--accent-color-link);
}

article,
h2 {
    display: block;
    width: 100%;
    padding: 0 20%;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.04em;
    font-weight: 400;
}

h2 {
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 64px;
    color: var(--accent-color-secondary)
}

h3 {
    font-size: 28px;
    font-weight: 300;
    display: inline;
    color: var(--accent-color);
}

video {
    margin: 32px 0;
    padding: 0;
    max-height: 500px;
    width: 100%;
    background-color: #111;
}

footer {
    font-size: 0.8em;
    padding: 16px;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid var(--accent-color-link);
    padding: 4px 16px;
    margin: 8px;
    border-radius: 32px;
}

.large-paragraph {
    text-align: left;
}

.divider {
    height: 1px;
    width: 100%;
    padding: 0;
    margin: 32px 0;
    background-color: rgb(194, 194, 194);
}

.spacer {
    height: 64px;
    width: 100%;
    padding: 0;
}

.portfolio--container {
    display: flex;
    align-items: flex-start;
    padding-right: 16%;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: var(--intro-color);
}

.portfolio--container p {
    font-weight: 400;
}

.portfolio--first-name {
    font-weight: bold;
    color: var(--accent-color-secondary);
}

.portfolio--surname {
    color: var(--accent-color);
}

.portfolio--introductory-text {
    margin-top: 32px;
}

.portfolio--subtitle-links {
    font-weight: 500;
    margin-top: 16px;
}

.portfolio--subtitle-links a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

.portfolio--subtitle-links a:not(:first-child) {
    margin-left: 10px;
}

@media screen and (max-width: 950px) {
    article {
        padding: 0 10%;
    }
}

@media screen and (max-width: 700px) {
    body {
        padding: 0;
    }

    article,
    h2 {
        padding: 16px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 24px;
    }

    video {
        max-height: 256px;
    }

    p,
    li {
        line-height: 1.8;
    }

    footer {
        flex-direction: column;
        justify-content: space-between;
    }

    .large-paragraph {
        text-align: initial;
    }

    .spacer {
        height: 32px;
    }

    .portfolio--container {
        display: block;
        text-align: center;
        padding-right: 16px;
    }
}